@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root{
    --dark-color:#0d0907;
    --accent-color: #5863f8;
    --box-color:#303030;
    --achiv-color: #c5ec1a;
    --achiv-back-color:#464a3fc3;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    font-family: ubuntu,sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--dark-color);
    color: white;
    max-width: 90vw;
    margin-inline: auto;
}
a{
    color: white;
    text-decoration: none;
}

.wrapper{
    padding: 1.5rem;
}

.navbar{
    display: flex;
    height: 70px;
    font-weight: bolder;
    color: white;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.navbar .logo{
    letter-spacing: 0.135em;
    font-size: 1.5em;
}

.navbar .dot{
    font-size: 2.75em;
    color: var(--accent-color);
    line-height: 0;
}

.trail{
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.nav-side{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 6em;
}

nav .nav-side a{
    transition: all 300ms ease;
}

nav .nav-side a:hover{
    color: var(--accent-color);
}

.btn{
    height: 40px;
    display: inline-flex;
    padding: 0.7em;
    color: var(--dark-color);
    background-color: #a7e5e5;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    gap: 0.5em;
    transition: all 300ms ease;
}

.btn:hover{
    background: #7edef6;
    transform: translateY(-3px);
    box-shadow: 10px 5px 5px #d8eefd,10px 15px 25px #6cdad6,10px 10px 50px #0cc9eb, 0 0 70px #1bceea;
}

.btn .icon{
    display: flex;
}

.big-btn{
    font-size: 1.5em;
    height: 3em;
    align-items: center;
}

.hero{
    margin-top: 4.5em;
    padding: 1.5rem;
}

.hero .three-lines{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 12vw;
    text-align: center;
    gap: 2.5em;
    text-transform: capitalize;
    letter-spacing: 0.15em;
}

.hero .three-lines .line-1{
    font-size: 25px;
    font-weight: 800;
    line-height: 40px;
    color: rgba(148, 145, 145, 0.689);
    margin: 0 7vw;
}

.hero .three-lines .line-2{
    font-size: 45px;
    font-weight: 800;
    line-height: 60px;
}
.blue{
    color: #5560fec0;
}

.hero .three-lines .line-3{
    font-size: 25px;
    font-weight: 800;
    line-height: 40px;
    color: rgba(148, 145, 145, 0.689);
    margin: 0 8vw;
}

.hero svg{
    height: 1.2em;
    filter: invert(100%);    
}

.section-1{
    display: flex;
    justify-content: space-around;
}

.box-1{
    border: 10px solid var(--box-color);
    background-color: var(--box-color);
    border-radius: 15px;
    padding: 1em;
    width: 45%;
    gap: 2em;
    display: flex;
    flex-direction: column;
}

.box-1 iframe{
    height: 24em;
    border-radius: 10px;
    margin-bottom: 20px;
}

.box-1 iframe:hover{
    box-shadow: 0px 0px 20px #c61e1bc0;
}

.person-name{
    font-size: 2.5em;
    text-transform: uppercase;
}

 .btn , p{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    letter-spacing: 0.125em;
    font-weight: 700;

}

.box-1 .btn{
    padding: 2em;
    max-width: 70%;
    margin: auto;
}

.box-2{
    border: 10px solid var(--box-color);
    background-color: var(--box-color);
    border-radius: 15px;
    padding: 2em;
    width: 45%;
    gap: 3em;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.box-2 span{
    display: flex;
    letter-spacing: 0.112em;
    padding: 15px 10px;
    gap: 1.5em;
    border-radius: 15px;
    background-color: #585858;

}

.feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10em;
}

.feed{
    background-color: #6cdad6;
    color: var(--dark-color);
    padding: 20px 130px;
    z-index: 0;
    border-radius: 10px;
    transform: translateY(10px);
}

.feedback-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10em;
}

.feedback-2 .feed{
    background-color: #6cdad6;
    color: var(--dark-color);
    padding: 20px 130px;
    z-index: 0;
    border-radius: 10px;
    transform: translateY(10px);
}

.big-box{
    z-index: 1;
    background-color: var(--box-color);
    padding: 30px;
    display: flex;
    border-radius: 15px;
    gap: 3em;
}

.big-box iframe{
    border-radius: 14px;
}

.big-box iframe:hover{
    box-shadow: 0px 10px 30px #c61e1bc0;
}

.certificate{
    z-index: 1;
    background-color: var(--box-color);
    padding: 30px;
    display: flex;
    border-radius: 15px;
    gap: 3em;
    justify-content: center;
}

.certificate img{
    width: 30vw;
    height: auto;
    border-radius: 12px;
}

.section-5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10em;
}

.section-5 h1{
    font-size: 52px;
    margin-bottom: 3em;
}

.section-5 .trainer{
    display: flex;
    justify-content: center;
    position: relative;
}

.rectangle{
    background-color: var(--box-color);
    border-radius: 5px;
    width: 82%;
    padding: 3em 35vw 3em 5em;
    height: 18em;
    display: flex;
    flex-direction: column;
}

.pic{
    width: 25vw;
    position: absolute;
    right: 13em;
    top: -3.5em;
    border-radius: 5px;
}

.rectangle  .spans{
    margin-top: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    line-height: 1.3em;
    font-weight: 400;
    font-size: 1em;
}

.small-box{
    display: flex;
    margin-top: 8em;
    max-width: 60vw;
    gap: 25px;
}

.small-box-1{
    height: 15em;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1.2em;
    background-color: var(--achiv-back-color);
    width: 30vw;
    padding: 1.5em;
}

.small-box-1 svg{
    width: 50px;
    height: 50px;
    fill: var(--achiv-color);

}

.small-box-1 h2{
    padding-top: 1em;
}

.section-6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10em;
    max-width: 65vw;
    margin-inline: auto;
}

.section-6 > h3{
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 0.123em;
}

.section-6 .u-line{
    padding-bottom: 1.2em;
    letter-spacing: 0.113em;
    font-size: 1.4em;
    font-weight: 800;
}

.tables{
    display: grid;
    grid-template-columns: auto auto;
    padding: 5em 2.5em;
    grid-gap: 20px;
    text-align: center;
}

.tables .list{
    border-radius: 8px;
    background-color: var(--box-color);
    padding: 2em 3em;
    line-height: 1.7em;
}

.section-7{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
    max-width: 65vw;
    margin-inline: auto;
}

.section-7 > h1{
    font-size: 50px;
    margin-bottom: 1.2em;
}

.section-7 > h2{
    font-size: 45px;
    font-weight: 800;
    line-height: 60px;
    color: rgba(148, 145, 145, 0.689);
}

.section-7 > h3{    
    font-size: 20px;
    font-weight: 800;
    line-height: 40px;
    margin: 1vh 7vw 4vh 7vw;
}

.section-7 .certi-box{
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 8em;
    background-color: var(--box-color);
    padding: 1.2em 0;
    border-radius: 10px;
    max-width: 55vw;
}

.section-7 .certi-box > img{
    width: 30%;
    height: auto;
    border-radius: 5px;
}

.section-7 .certi-box .three-small{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.section-7 .certi-box .three-small > span{
    border-radius: 5px;
    padding: 1.5em ;
    background-color: var(--achiv-back-color);
    font-size: larger;
}

.section-7 .three-small > .btn{
    padding: 2.2em;
}

.section-8{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10em;
    max-width: 65vw;
    margin-inline: auto;
}

.section-8 > h2{
    font-size: 40px;
    margin-bottom: 1.2em;
}

.section-8 .whom{
    display: grid;
    grid-template-columns: auto auto;
    padding: 5em 2.5em;
    grid-gap: 20px;
    text-align: center;
}

.section-8 .whom span{
    border-radius: 8px;
    background-color: var(--box-color);
    padding: 2em 1em 2em 1em;
    line-height: 1.7em;
    display: flex;
    gap: 2em;
}

.section-8 .whom span:hover{
    box-shadow: -10px 5px 8px #edededc0;
}

.section-8 span > img {
    width: 20%;
    height: auto;
    padding-left: 1.1em;
}

.section-8 .whom .classes > h2{
    padding-bottom: 1.2em;
    text-align: left;
}

.section-8 .whom .classes > h4{
    text-align: left;
}

.section-9{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10em;
    max-width: 60vw;
    margin-inline: auto;
}

.section-9 > h2{
    font-size: 40px;
    margin-bottom: 1.2em;
}

.section-9 .course{
    display: grid;
    grid-template-columns: auto auto;
    padding: 1em;
    grid-gap: 20px;
}

.section-9 .course span{
    border-radius: 8px;
    background-color: var(--box-color);
    padding: 1em 2em;
    line-height: 1.8em;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 1.2em;
}

.section-9 .course span svg{
    width: 20px;
    height: 20px;
    filter: invert(100%);
}

.section-9 .course span:hover{
    box-shadow: -10px 5px 8px #edededc0;
}

.reserve{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10em;
    margin-bottom: 10em;
    max-width: 70vw;
    margin-inline: auto;
}

.reserve h2{
    font-size: 32px;
    margin-bottom: 0.5em;
}

.reserve h3{
    font-size: 22px;
    margin-bottom: 3em;
}

.reserve .reserve-box{
    display: flex;
    justify-content: center;
    gap: 3em;
}

.reserve .reserve-box-1{
    background-color: var(--achiv-back-color);
    border-radius: 20px;
    padding: 3em;
}

.reserve .reserve-box-1 span{
    display: flex;
    align-items: center;
    gap: 1em;
    line-height: 4em;
}

.reserve .reserve-box-1 .btn{
    margin-top: 2em;
    height: 5em;
    font-size: 1em;
}


.reserve .reserve-box .reserve-box-1 span svg{
    width: 20px;
    height: 20px;
    fill: var(--achiv-color);
}

.reserve .reserve-box .reserve-box-2 span svg{
    width: 20px;
    height: 20px;
    fill: var(--achiv-color);
}

.reserve .reserve-box .reserve-box-2 .part-1 span{
    display: flex;
    align-items: center;
    gap: 1.2em;
    line-height:1.7em;
}

.reserve .reserve-box .reserve-box-2 .part-2 span{
    display: flex;
    align-items: center;
    gap: 1.2em;
    line-height:1.9em;
}

.last{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 10em;
    margin-bottom: 10em;
    max-width: 50vw;
    margin-inline: auto;
    line-height: 3.5em;
}

.last h1{
    font-size: 35px;
    margin-bottom: 0.5em;
}

.end{
    overflow: hidden;
}


footer{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10em;
    list-style: none;
    font-size: 1.5em;
    letter-spacing: 0.115em;
}

.footer a{
    transition: all 300ms ease;
}

.footer a:hover{
    color: var(--accent-color);
}



strong {
    position: relative;
}

strong::after {
      content: '';
      position: absolute;
      bottom: -0.525rem;
      left: -0.5rem;
      right: -0.5rem;
      height: 0.75rem;
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg');
      background-repeat: no-repeat;
      background-size: cover;
  }
  


  @media screen and (max-width: 1600px){
    .hero .three-lines{
        gap: 1.7em;
    }

    .section-1 .box-1{
        gap: 1em;    
    }

    .section-1 .box-1 .btn{
        max-width: 90%;
    }

    .section-1 .box-2{
        gap: 1em;
    }

    .section-1 .box-2 span{
        gap: 1.8em;
        align-items: center;
    }

    .feedback .feed{
        padding: 20px 20px;
    }

    .section-5 h1{
        margin-bottom: 2em;
    }

    .section-5 .rectangle{
        padding: 1.4em 35vw 1em 5em;
        height: 15em;
    }

    .section-5 .pic{
        right: 10em;
        top: -2em;
    }

    .section-5 .rectangle .spans{
        line-height: 1em;
    }

    .section-5 .small-box{
        margin-top: 5em;
        justify-content:space-between;
    }

    .section-5 .small-box .small-box-1{
        width: 60vw;
        padding: 1.5em 0;
        height: 12em;
    }

    .section-5 .small-box .small-box-1 svg{
        width: 20px;
        height: 20px;
    }
    
    .section-6{
        max-width: 80vw;
    }

    .section-7 > h2{
        display: flex;
        text-align: center;
    }

    .section-7 .certi-box{
        gap: 5em;
        max-width: 65vw;
    }

    .section-7 .certi-box .three-small{
        gap: 1.5em;
    }

    .section-8{
        max-width: 80vw;
    }

    .section-8 > h2{
        margin-bottom: 0.8em;
    }

    .section-8 .whom{
        padding: 2em ;
    }

    .section-8 .whom span{
        padding: 1.2em;
        line-height: 1.3em;
    }

    .section-9{
        max-width: 75vw;
    }

    .last{
        line-height: 2.5em;
    }


  }

  @media screen and (max-width: 1400px){
    
    .section-5 .pic{
        right: 10em;
        top: -1.2em;
    }
    .section-5 .small-box .small-box-1{
        width: 65vw;
        padding: 1.5em 0.5em;
        height: 12em;
    }
    
    .section-6{
        max-width: 85vw;
        padding-left: 5px;
        padding-right: 5px;
    }

    .reserve{
        max-width: 75vw;
    }


  }

  @media screen and (max-width: 1350px){
    
    .section-1 .box-1{
        gap: 0.5em;    
    }

    .section-1 .box-2 span{
        gap: 1em;
        align-items: center;
    }

    .section-5 .pic{
        right: 10em;
        top: -1em;
    }

    .section-5 .trainer .rectangle .spans{
        font-size: 15px;
    }

    .section-5 .small-box .small-box-1{
        width: 65vw;
        padding: 1.5em 0.5em;
        height: 10em;
        font-size: 13px;
    }
    
    .section-6{
        max-width: 80vw;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px;
    }
    
    .reserve{
        max-width: 76vw;
    }

  }

  @media screen and (max-width: 1290px){
    
    .navbar{
        height: 40px;
    }

    .hero{
        margin-top: 2em;
    }

    .box-2{
        width: 50%;
    }

    .reserve{
        max-width: 77vw;
        font-size: 12px;
    }

    .footer{
        gap: 3em;
        font-size: 1.2em;
        letter-spacing: 0.101em;
    }


  }

  @media screen and (max-width: 1200px){

    .hero{
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .section-1{
        gap: 1.2em;
    }
    
    .section-1 .box-1 iframe{
        height: 20em;
    }

    .section-1 .box-1{
        gap: 0.5em;    
    }

    .section-1 .box-2{
        gap: 1em;
        padding: 0.5em;
        width: 55%;
    }

    .section-1 .box-2 span{
        gap: 1em;
        align-items: center;
    }

    
    .feedback{
        padding: 20px 20px;
    }

    .feedback .feed{
        padding: 20px 80px;
    }

    .certificate{
        gap: 5em;
    }

    .feedback .big-box{
        max-width: 85vw;
        margin-inline: auto;
        position: relative;
        justify-content: center;
        gap: 1.2em;
    }

    .feedback .big-box iframe{
        height: 24em;
    }


    .section-5 .pic{
        right: 10em;
        top: -1.2em;
    }

    .section-5 .trainer .rectangle{
        font-size: 13px;
        height: 16em;
    }

    .section-5 .trainer .rectangle .spans{
        font-size: 13px;
    }

    .section-5 .small-box .small-box-1{
        padding: 1.5em 0.5em;
        height: 14em;
        font-size: 13px;
    }

    .section-6{
        max-width: 87vw;
    }

    .section-6 .tables{
        padding: 2em;
    }

    .section-6 .tables .list{
        padding: 2em 1em;
    }

    .section-7 > h2{
        font-size: 35px;
        line-height: 40px;
    }

    .section-7 > h3{         
        font-size: 15px;
    }

    .section-7 .certi-box{
        gap: 1em;
        max-width: 90vw;
        padding: 1em;
    }

    .section-7 .certi-box > img{
        width: 35%;
        height: auto;
        border-radius: 5px;
    }

    .section-7 .certi-box .three-small{
        gap: 1em;
    }

    .section-8{
        max-width: 85vw;
    }

    .section-8 > h2{
        margin-bottom: 0.8em;
    }

    .section-8 .whom{
        padding: 1.5em ;
    }

    .section-8 .whom span{
        padding: 1em;
        line-height: 1em;
    }

    .section-8 .whom .classes > h2{
        padding-bottom: 1.2em;
        text-align: left;
        line-height: 1.2em;
    }
    
    .section-9{
        max-width: 85vw;
    }

    .section-9 .course span{
        line-height: 1.4em;
    }

    .reserve{
        font-size: 12px;
        max-width: 80vw;
    }
    
    .last{
        max-width: 70vw;
    }
  }

  @media screen and (max-width: 960px){


    .hero .three-lines .line-1{
        font-size: 20px;
    }

    .hero .three-lines .line-2{
        font-size: 30px;
    }

    .hero .three-lines .line-3{
        font-size: 20px;
    }

    .hero .three-lines .big-btn{
        font-size: 15px;
    }

    .section-1 .box-1{
        gap: 0.5em;    
    }

    .section-1 .box-1 .btn{
        max-width: 100%;
        font-size: 11px;
        margin: 0;
        padding: 0.5em 0.5em;
    }

    .section-1 .box-2{
        gap: 1.5em;
    }

    .section-1 .box-2 span{
        gap: 2em;
        font-size: 10px;
        align-items: center;
    }

    .feedback .big-box{
        position: relative;
        display: flex;
        justify-content: space-evenly;
    }

    .feedback .big-box iframe{
        width: 30%;
    }

    .feedback-2 .feed{
        padding: 20px 30px;
        font-size: 20px;
    }

    .section-5 h1{
        font-size: 30px;
        margin-bottom: 4em;
    }

    .section-5 .rectangle{
        padding: 1.5em 29vw 1.5em 1.5em;
    }

    .section-5 .pic{
        right: 6em;
        top: 7px;
    }    

    .section-5 .rectangle .person-name{
        font-size: 25px;
    }


    .section-5 .small-box{
        margin-top: 3em;
        justify-content:space-between;
    }

    .small-box .small-box-1{
        width: 30%;
        padding: 1.5em 0.5;
        height: 12em;
    }

    .small-box .small-box-1{
        font-size: 20px;
    }

    .section-5 .small-box .small-box-1 svg{
        width: 30px;
        height: 30px;
    }
    
    .section-6{
        max-width: 85vw;
    }
    
    .tables .list{
        padding: 1em;
        line-height: 1.5em;
    }

    .section-7 > h2{
        display: flex;
        text-align: center;
    }

    .section-7 .certi-box{
        gap: 1em;
        max-width: 80vw;
    }

    .section-7 .certi-box .three-small{
        gap: 1em;
    }

    .section-8{
        max-width: 85vw;
    }

    .section-8 > h2{
        margin-bottom: 0.8em;
        font-size: 15px;
    }

    .section-8 .whom{
        padding: 1em ;
    }

    .section-8 .whom span{
        padding: 1em;
        font-size: 10px;
        line-height: 1em;
    }

    .section-9{
        max-width: 80vw;
    }

    .section-9 > h2{
        font-size: 30px;
    }

    .section-9 .course{
        font-size: 10px;
    }

    .last{
        line-height: 2em;
    }

    .footer{
        gap: 3em;
        font-size: 1em;
    }


  }

  @media screen and (max-width: 500px){

    .wrapper{
        padding: 1.5rem;
    }
    
    .navbar .logo{
        padding-left: 0;
        font-size: 1em;
    }
    
    .navbar .dot{
        font-size: 2.5em;
    }
    
    .nav-side{
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 1em;
        font-size: 11px;
        padding-right: 0.5em;
    }
    
    nav .nav-side a{
        transition: all 300ms ease;
    }
    
    nav .nav-side a:hover{
        color: var(--accent-color);
    }


    .hero .three-lines .line-1{
        font-size: 10px;
        line-height: 20px;
        margin: 0 1vw;
    }

    .hero .three-lines .line-2{
        font-size: 20px;
        line-height: 30px;
    }

    .hero .three-lines .line-3{
        font-size: 10px;
        line-height: 20px;
        margin: 0 1vw;
    }

    .hero .three-lines .big-btn{
        font-size: 8px;
    }

    .section-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-1 .box-1{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .section-1 .box-2{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .feedback > .feed{
    padding: 20px;
    font-size: 20px;
    }

    .feedback .big-box{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: space-evenly;
    }

    .feedback .big-box iframe{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .feedback-2 .feed{
        padding: 20px;
        font-size: 12px;
        text-align: center;
    }

    .certificate{
        padding: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        gap: 1em;
    }
    
    .certificate img{
        width: 70vw;
        height: auto;
        border-radius: 12px;
    }

    .section-5{
        display: flex;
        flex-direction: column;
        margin-top: 5em;
    }

    .section-5 h1{
        font-size: 30px;
        margin-bottom: 1em;
    }

    .section-5 .trainer{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .section-5 .rectangle{
        width: 85%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 4vw 3vw;
        height: ;
    }

    .section-5 .pic{
        width: 55vw;
        position: static;
        right: 5em;
        margin-bottom: 0.5em;
    }    

    .section-5 .rectangle .person-name{
        font-size: 22px;
    }


    .section-5 > .small-box{
        margin-top: 4em;
        display: flex;
        flex-direction: column;
        max-width: 80vw;
        justify-content:space-between;
    }

    .small-box .small-box-1{
        padding: 1.5em 0.5em;
        font-size: 10px;
    }


    .section-5 .small-box .small-box-1 svg{
        width: 30px;
        height: 30px;
    }
    
    .section-6 > h3{
        text-align: center;
    }

    .tables{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2em;
    }
    
    .tables .list{
        padding: 1em;
        line-height: 1.5em;
    }

    .section-7{
        max-width: 85vw;
        margin-inline: auto;
    }

    .section-7 > h1{
        font-size: 35px;
    }

    .section-7 > h2{
        text-align: center;
        font-size: 25px;
        line-height: 1em;
        margin-bottom: 1em;
    }

    .section-7 > h3{
        text-align: center;
        font-size: 15px;
        line-height: 1.2em;
    }


    .section-7 .certi-box{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .section-7 .certi-box img{
        margin-top: 1em;
        margin-bottom: 1.2em;
        width: 100%;
    }

    .section-7 .certi-box .three-small{
        gap: 0.5em;
    }

    .section-7 .certi-box .three-small span{
        font-size: 15px;
        text-align: center;
    }

    .section-7 .certi-box .three-small .btn{
        margin-top: 2em;
    }

    .section-8{
        margin-top: 5em;
        max-width: 80vw;
    }

    .section-8 > h2{
        margin-bottom: 0.8em;
        font-size: 19px;
    }

    .section-8 .whom{
        padding: 2em ;
        display: flex;
        flex-direction: column;
    }

    .section-9{
        max-width: 80vw;
        margin-top: 5em;
    }

    .section-9 > h2{
        font-size: 20px;
    }

    .section-9 .course{
        font-size: 10px;
        display: flex;
        flex-direction: column;
    }

    .reserve{
        margin-top: 7em;
    }

    .reserve .reserve-box{
        display: flex;
        flex-direction: column;
    }

    .reserve .reserve-box .reserve-box-2 .part-1{
        padding-bottom: 2em;
    }

    .reserve .reserve-box .reserve-box-2 .part-1 > h2{
        text-align: center;
    }

    .reserve .reserve-box .reserve-box-2 .part-1 span{
        line-height: 2em;
    }

    .reserve .reserve-box .reserve-box-2 .part-2 > h2{
        text-align: center;
    }

    .reserve .reserve-box .reserve-box-2 .part-2 span{
        line-height: 2em;
    }


    .last{
        line-height: 3em;
        font-size: 10px;
    }

    .footer{
        gap: 3em;
        display: flex;
        flex-direction: column;
        font-size: 0.7em;
        text-align: center;
        font-weight: bolder;
    }


  }


